html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: rgba(0, 0, 0, 0.84);
    line-height: 1.5;
    padding: 0 100px !important;
    background: url('https://media.giphy.com/media/WT9Sk9a2l8UpOnxwf5/giphy.gif');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
  color: #1e87f0;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover {
  text-decoration: underline;
}

h1 {
    color:red;
  margin: 0;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-align: center !important;
  text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

h3 {
    margin-top: 2rem;
}

header {
  position: sticky;
  top: 0;
  padding-bottom: 6rem;
}

nav {
  margin: 0;
  overflow-x: auto;
  text-align: center;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  flex-grow: 1;
  text-align: center;
}

nav li a {
    display: block;
    padding: 1rem;
    color: inherit;
    white-space: nowrap;
    font-size: 0.925rem;
    font-family: inherit;
}

nav li a i {
  margin-right: 0.5rem;
}

.container {
  max-width: 60rem;
  margin: auto;
  padding: 0 1rem;
}


main {
  margin-bottom: 6rem;
}

.member:last-child::after {
    content: "";
}

.member::after {
    content: ", ";
}
a.member {
    font-family: impact;
    padding: 0 1rem;
    color: white; 
    font-size: 3rem;
    text-shadow: 5px 5px 5px #000;
}
a.member:hover {
    text-decoration: none;
    color: aliceblue;
}
.memberToggled {
    opacity: 0.2;
}

.selectedTeam {
    font-weight: bold;
}

ul {
  list-style: none;
}
